*{margin:0;padding:0}
#wrapper{
    width: 900px;
    margin: 0 auto;
}
header{
    height: 200px;
    background-color: #f46075;
}
header h1{
    float:left;
    margin-left: 50px;
    margin-top: 70px;
    color:#fff;
}
header .logo_p{
    margin-right: 20px;
    margin-top: 20px;
    float:right;
}

nav{
    height:60px;
    background-color: #ccc;
}
nav ul{
    list-style: none;
}
nav ul li{
    float: left;
    margin-left: 40px;
    margin-top: 10px;
}
nav ul li a{
    display: block;
    width:160px;
    height:40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    /* background-color: #aaa; */
}
nav ul li a:hover{
    background-color: #f46075;
    /* 글자진하게 */
    font-weight: bold;
    color:#fff;
    border-radius:20px;
}


.main{
    height:550px;
}
section{
    width: 650px;
    height:550px;
    background-color: skyblue; 
    float: left;
}
section h2{
    text-align: center;
    padding: 10px;
}
section article{
    width:270px;
    height:210px;
    padding: 10px;
    float:left;
    background-color: #fff;
    border: 1px solid #333;
    margin: 0 0 15px 20px;
}
article h3{
    padding-bottom: 10px;
    padding-left: 30px;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;


}
article p{
    font-size: 14px;
    /* 양쪽 정렬 */
    text-align: justify;
}
aside{
    text-align: center;
    width:250px;
    height:550px;
    background-color: #ffffcc;
    float: left;
}
aside h2{
    /* 위아래 10 좌우 0 */
    padding: 10px 0;
}
aside img{
    
    padding-bottom: 10px;
}
footer{
    height:50px;
    line-height: 50px;
    background-color: #333;
    color:#fff;
    text-align: center;
}


