*{margin: 0; padding: 0;}

.container{
    width: 1000px;
    height: 800px;
}
header{
    width: 200px;
    height: 800px;
    background-color: orange;
    float: left;
}
header h1{
    margin: 30px auto;
    width: 150px;
}
header h1 img{
    /* width: 150px; */
    width: 100%;
}
header ul{
    list-style: none;
    width: 180px;
    border: 1px solid #333;
    margin: 0 auto;
}
header ul li a{
    display: block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #333;
    text-decoration: none;
}
header ul li a:hover{
    background-color: #555;
    color: white;
}

section{
    width: 800px;
    height: 800px;
    background-color: orangered;
    float: left;
}
section .img_slider{
    width: 800px;
    height: 400px;
    background-color: chocolate;
}
section .content{
    width: 800px;
    height: 300px;
    background-color: cornflowerblue;
}
.content div{
    width: 33.33%;
    height: 300px;
    float: left;
}
.content .notice{
    background-color: #ccc;
}
.content .banner{
    background-color: #aaa;
}
.content .icons{
    background-color: #888;
}

footer{
    width: 800px;
    height: 100px;
    background-color: darkkhaki;
}
.f_logo{
    width: 200px;
    height: 100px;
    float: left;
    background-color: #777;
}
.f_menu{
    width: 600px;
    height: 50px;
    float: left;
    background-color: #666;
}
.f_copy{
    width: 600px;
    height: 50px;
    float: left;
    background-color: #555;
}