h1{background-color: blue;}
p{color: red;}
.gr{color: green;}
/* id선택자는 body안에 오로지 한개 / 중복 불가
class는 중복 가능 */
#pink1{background-color: pink;}
.btxt{color: blueviolet;}
.ctxt{color: blue;}
.atxt{font-weight: bold;}
#b1{background-color: brown;}
.a1{background-color: hotpink !important;}
/* 기본적 선택자 우선순위
1. !important
2. id 선택자
3. class 선택자
4. 일반선택자(type선택자) 
*/