*{margin: 0;padding: 0;}

.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    height: 100px;
    background-color: aqua;
}
header h1{float: left;}
header nav{
    float: right;
    width: 600px;
    height: 50px;
    background-color: yellow;
    margin-right: 10px;
}
header nav ul{
    /* 블릿없애기 */
    list-style: none;
}
nav >ul >li{float: left;}
nav ul li a{
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: #000;
}
nav ul li ul{
    background-color: yellow;
    display: none;
    /* 안보이게함 */
}
/* li에 마우스를 올렸을 때 ul을 보이게함 */
nav ul li:hover ul{
    /* 맨위로 올라옴 */
    position: absolute;
    display: block;
}

.img_slider{
    height: 300px;
    background-color: tan;
}
section{
    height: 200px;
    background-color: cadetblue;
}
section article{
    width: 400px;
    height: 200px;
    float: left;
}
section .notice{
    background-color: #ccc;
}
section .banner{
    background-color: #aaa;
}
section .icons{
    background-color: #888;
}
footer{
    height: 100px;
    background-color: violet;
}
.foot_logo{
    width: 200px;
    height: 100px;
    float: left;
    background-color: hotpink;
}
.foot_right{
    width: 1000px;
    height: 100px;
    float: left;
    background-color: pink;
}
.foot_right .foot_menu{
    width: 1000px;
    height: 50px;
    background-color: #555;
}
.foot_right .foot_copy{
    width: 1000px;
    height: 50px;
    background-color: #777;
}